body { font-family: Arial, sans-serif; padding: 0; margin: 0; }
header { background: #16a085; color: #fff; padding: 10px; }
ul { list-style: none; padding: 0; }
li { padding: 5px 0; border-bottom: 1px solid #ccc; }
