body { font-family: Arial, sans-serif; padding: 0; margin: 0; }
header { background: #1abc9c; color: #fff; padding: 10px; }
form { margin: 20px 0; }
input, textarea { display: block; width: 100%; margin-bottom: 10px; }
