body {
    font-family: 'Arial', sans-serif;
    background-color: #fefcf3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #d4b16a;
}

button {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

#train-response {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: #2c3e50;
}
